import pkg_resources

imported_libraries = [
    'tensorflow',
    'matplotlib',
    'Pillow', # PIL is part of Pillow
    'numpy',
    'keras',
    'opencv-python', # cv2 is part of opencv-python
    'streamlit',
    'pyngrok'
]

with open('requirements.txt', 'w') as f:
    for lib in imported_libraries:
        try:
            version = pkg_resources.get_distribution(lib).version
            f.write(f"{lib}=={version}\n")
        except pkg_resources.DistributionNotFound:
            f.write(f"# {lib} not found in environment\n")
